.footer_result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.result_header__icon {
  width: 30px;
}

.result_header__title {
  font-size: 24px;
  font-weight: 600;
}

.result_text {
  text-align: center;
  font-size: 18px;
}
