* {
  box-sizing: border-box;
  border: none;
  outline: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

#root {
  position: absolute;
}

body {
  background-color: #fb6b6b;
  font-family: 'Recursive', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
