.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  padding: 20px;
  min-height: 80px;
  background-color: white;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.06);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.footer_counter {
  font-family: 'Recursive', cursive;
  font-weight: 500;
  font-size: 20px;
}

.footer_icons {
  display: flex;
  gap: 0.5rem;
}
.footer_icon {
  width: 30px;
}
